<mat-toolbar color="primary">
    <mat-toolbar-row>
      <a mat-button [routerLink]="[ '/' ]">
        Groups
      </a>
      <button mat-button [routerLink]="[ '/mygroups' ]" routerLinkActive="active">
        My Groups
        <mat-icon></mat-icon>
      </button>
      <span style="flex: 1 1;"></span>

      <button mat-button [matMenuTriggerFor]="menu">
        Log out&nbsp;
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
  
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">
          <mat-icon>arrow_back</mat-icon>
          <span>Kijelentkezés</span>
        </button>
      </mat-menu>
  
    </mat-toolbar-row>


  </mat-toolbar>
  